div {
    display: block;
}

a {
    outline: none;
    text-decoration: none;
}

hr {
    border: none;
    background-color: #018435;
    color: #018435;
    height: 1px;
}

#login_wrapper {
    background: #F3F3F3;
    width: 671px;
    height: 381px;
    margin: 0 auto;
    padding: 0;
}

#login_header {
    min-width: 671px;
    height: 79px;
    background: url(/resources/images/bg_header_bottom.png) repeat-x scroll left top #FFFFFF;
    width: 100%;
    margin: 0;
    padding: 0;
}

#login_body {
    background: #FFFFFF;
    border: 1px #E0E0E0 solid;
    width: 570px;
    margin: 50px 50px 50px 50px;
}

#app_label {
    font-size: 15pt;
    font-family: Verdana, sans-serif;
}

#error_label {
    font-size: 10pt;
    font-family: Verdana, sans-serif;
    color: red;
}

#user_input {
    background-position: 15px -83px;
}

#user_input:focus {
    background-position: 15px -3px;
}

#password_input {
    background-position: 15px -123px;
}

#password_input:focus {
    background-position: 15px -43px;
}

#index_wrapper {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}

#index_header {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

#profile_name {
    background: #E0E0E0;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin-top: 10px;
}

#profile_info {
    background: #EEEEEE;
    margin-top: 0;
    font-size: 16px;
}

#accounts_wrapper {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

#payments_wrapper {
    width: 390px;
    background: #EEEEEE;
    padding: 25px;
    margin-top: 10px;
}

#button_history {
    background: #E8AF3E;
    border: none;
    border-bottom: 7px #DF9B14 solid;
    margin-bottom: 25px;
}

.logo {
    float: left;
    background: none;
    height: 78px;
    width: 400px;
}

.header_right {
    float: right;
    margin: 0;
    padding: 0;
}

.time {
    float: left;
    width: 230px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    color: #656966;
    background: #EEEEEE;
    margin: 14px 1px 0 0;
}

.logout {
    float: left;
    width: 116px;
    height: 50px;
    margin-top: 14px;
}

.profile {
    float: left;
    width: 120px;
    height: 50px;
    margin-top: 14px;
}

.user_session {
    padding-left: 21px;
    background: url(/resources/images/time.jpg) no-repeat left center;
    font-family: Arial, sans-serif;
}

.input {
    width: 414px;
    height: 34px;
    padding: 0 15px 0 47px;
    line-height: 34px;
    border: 1px #d1e7dc solid;
    background: #fafcfb url(/resources/images/login.png) no-repeat;
    font-size: 18px;
    color: #595d5b;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.button_enter {
    height: 36px;
    background: #52AE41;
    border-bottom: 7px #018435 solid;
    border-right: 1px solid #4DAD3A;
    border-left: 1px solid #4DAD3A;
    border-top: 1px solid #4DAD3A;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.button_register {
    width: 144px;
    height: 29px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 29px;
    text-align: center;
    background: #52AE41;
    border: none;
    border-bottom: 7px #018435 solid;
    display: block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 0 20px 0 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.button_exit {
    width: 120px;
    height: 43px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 43px;
    text-align: center;
    background: #E8AF3E;
    border: none;
    border-bottom: 7px #DF9B14 solid;
    display: block;
    font-family: Arial, sans-serif;
}

.button_menu {
    position: relative;
    display: block;
    min-height: 44px;
    color: #FFF;
    font-size: 14px;
    line-height: 44px;
    text-decoration: none;
    text-transform: uppercase;
    background: #52AE41;
    border-bottom: 5px #018435 solid;
    margin-bottom: 10px;
}

.user_form {
    margin-top: 10px;
}

.left_menu {
    float: left;
    width: 25%;
    max-width: 320px;
    margin-right: 45px;
    font-family: Verdana, sans-serif;
}

.button_text {
    padding-top: 14px;
    padding-left: 15px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.index_content {
    float: left;
    width: 66%;
    max-width: 765px;
    font-family: Verdana, sans-serif;
}

.edit_profile_input {
    width: 410px;
    height: 34px;
    padding: 0 0 0 10px;
    line-height: 34px;
    border: 1px #d1e7dc solid;
    font-size: 18px;
    color: #000000;
    margin-top: 20px;
    margin-right: 80px;
    float: right;
    font-family: Arial, sans-serif;
}

.edit_profile_label {
    float: left;
    margin-left: 80px;
    margin-top: 20px;
}

.button_save {
    height: 36px;
    background: #52AE41;
    border-bottom: 7px #018435 solid;
    border-right: 1px solid #4DAD3A;
    border-left: 1px solid #4DAD3A;
    border-top: 1px solid #4DAD3A;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0 20px;
    cursor: pointer;
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_cancel {
    width: 117px;
    height: 29px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 29px;
    text-align: center;
    background: #52AE41;
    border: none;
    border-bottom: 7px #018435 solid;
    display: block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.account {
    width: 610px;
    height: 50px;
    padding: 0 0 0 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 50px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background: #E8AF3E;
    border: none;
    border-bottom: 7px #DF9B14 solid;
    display: inline-block;
}

.button_open_account {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #E8AF3E;
    font-family: Arial, sans-serif;
    font-size: 24px;
    display: inline-block;
    cursor: default;
    color: #000000;
    text-align: center;
    border: none;
    border-bottom: 7px #DF9B14 solid;
    float: right;
}

.button_open_account:hover {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #52AE41;
    font-family: Arial, sans-serif;
    font-size: 24px;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-bottom: 7px #018435 solid;
    float: right;
}

.button_close_account {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #E8AF3E;
    font-family: Arial, sans-serif;
    font-size: 24px;
    display: inline-block;
    cursor: default;
    color: #000000;
    text-align: center;
    border: none;
    border-bottom: 7px #DF9B14 solid;
    float: right;
}

.button_close_account:hover {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #FF0000;
    font-family: Arial, sans-serif;
    font-size: 24px;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-bottom: 7px #8B0000 solid;
    float: right;
}

.request {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #DF9B14;
}

.request_user {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.currency_input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
}

.button_payment {
    width: 350px;
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    background: #52AE41;
    border: none;
    border-bottom: 7px #018435 solid;
    display: block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 0 20px 0 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.payment_input {
    width: 300px;
    height: 34px;
    line-height: 34px;
    border: 1px #d1e7dc solid;
    font-size: 16px;
    color: #000000;
    float: right;
    font-family: Arial, sans-serif;
    padding-left: 10px;
}

.payment_label {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.payment_currency {
    margin-left: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 40px;
    float: right;
    height: 34px;
    line-height: 34px;
    color: black
}
